.query{
    display: flex;
    justify-content: center;
    padding: 20px;
}
body{
    background-color: bisque;
}
.form1{
    background-color: rgb(230, 166, 89);
}
.gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(208, 137, 31);
    height: 400px;
    width: 100%;   
}
.col{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;   
}
.img1{
    transition: 1s; 
    border-radius: 20px 20px 20px 20px;
}
.img1:hover{
    transform: scale(1.2);
}
.description{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header{
    background-color: rgb(208, 137, 31);
    width: 100%;
    height: 180px;
    display: flex;
    justify-content:space-between;
}
.show{
    background-image: url('https://thumbs.dreamstime.com/b/espresso-coffee-cup-beans-vintage-table-90374872.jpg');background-repeat: no-repeat;background-size: cover;width: 100%;height: 700px;
    text-align: right;
    font-family: 'Pacifico', cursive;
    font-size: 59px;
    color:whitesmoke;
}
.show:hover{
    color:rgb(82, 50, 12);
}
.heading{
    background-color: rgb(208, 137, 31);
    height: 100px;
    width: 100%; 
     
}
.queryheading:hover{
    color: chocolate;
    
}

.gal {
    background-image: linear-gradient(
      to right,
      #F5F5F5,
      #F5F5F5 50%,
      #42290f 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .gal:before{
    content: '';
    background: #F5F5F5;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 600px;
    width: 0;
    height: 3px; 
    transition: all 0.3s ease-in-out;
  }
  
  .gal:hover {
   background-position: 0;
  }
  
  .gal:hover::before{
    width: 328px;
  }






.coffeehead{
    height: 80px;
    width: 400px;
    background-color: rgb(208, 137, 31);
    margin-left: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}
.h:hover{
    transform: scale(1.7);  
}   
.h{
    font-size: 17px;
    color: whitesmoke;
    font-family: 'Roboto Slab', serif;
}
.h1{
    color: whitesmoke;  
    
}
.h2{
    color: whitesmoke;
    padding-top: 20px;
    
}
.h3{
    color: whitesmoke;
    
}
.h4{
    color: whitesmoke; 
    padding-top: 20px;
    
}

.h6{
    color: whitesmoke; 
    
}
.h7{
    color: whitesmoke; 
    padding-top: 20px;
    
}
.h8{
    color: whitesmoke;
   
}
.h9{
    color: whitesmoke; 
    padding-top: 20px;
   
}
.h11{
    color: whitesmoke;
    
}
.h12{
    color: whitesmoke; 
    padding-top: 20px;
    
}



.type:hover{
    color: chocolate;
}

.type2:hover{
    color: rgb(211, 102, 24);
}